:root {
    --font-size-sm: 0.8em;
    --margin-lg: 1em;
}

body {
    font-family: system-ui, sans-serif;
}

main {
    margin: 1em auto;
    padding: 10px;
    max-width: 40rem;
}

input {
    display: block;
    margin: 0 auto;
    line-height: 1.5;
    width: 300px;
    padding: 5px;
}

.stats {
    margin-top: var(--margin-lg);
    text-align: center;
    font-size: var(--font-size-sm);
    font-family: monospace;
}

.results {
    margin-top: var(--margin-lg);
}

.results .result {
    margin-top: 0.75em;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.results .result .left {
    text-align: right;
}

.results .result .center {
    padding: 0 10px;
    font-weight: bold;
}

.results .result .side {
    white-space: nowrap;
    overflow-x: hidden;
}

.results .source {
    margin-top: 0.25em;
    text-align: right;
    font-size: var(--font-size-sm);
}

.truncated {
    text-align: center;
    font-size: var(--font-size-sm);
}

.error {
    margin: 0 auto;
    width: fit-content;
    margin-top: var(--margin-lg);
    padding: 10px;
    text-align: center;

    background-color: #fdecea;
    border: 1px solid #f5c6cb;
    color: #721c24;
}
